//Cores
$laranja: #F2761E;
$branco: #FDFDFD;
$preto: #000000;
$cinza01: #BDBDBD;
$cinza02: #7C7C7C;
$cinza03: #464646;
$cinza04: #282828;

//sizes
$size01: 8px;
$size02: 12px;
$size03: 14px;
$size04: 16px;
$size05: 18px;
$size06: 20px;
$size07: 28px;
$size08: 36px;
$size09: 42px;

//spacing
$spacing2: 2px;
$spacing4: 4px;
$spacing8: 8px;
$spacing16: 16px;
$spacing24: 24px;
$spacing32: 32px;
$spacing48: 48px;
